<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Editar Usuario' : 'Crear Usuario' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre completo</ion-label>
    <ion-input [(ngModel)]="user.fullName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input [(ngModel)]="user.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Rol</ion-label>
    <ion-select placeholder="Selecciona un rol" [(ngModel)]="selectedRole">
      <ion-select-option *ngFor="let role of userRoleList" [value]="role.code">
        {{ role.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Campos Departamento y especialidad visibles solo si el rol es ADVISOR -->
  <ion-item *ngIf="selectedRole === UserRole.ADVISOR.code">
    <ion-label>Departamento</ion-label>
    <ion-select [(ngModel)]="selectedDepartmentId">
      <ion-select-option *ngFor="let dept of departments" [value]="dept.departmentId">
        <ion-icon [name]="dept.ionicIcon"></ion-icon>
        {{ dept.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="selectedRole === UserRole.ADVISOR.code">
    <ion-label position="floating">Especialidad</ion-label>
    <ion-textarea [(ngModel)]="advisor.specialty" rows="5"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Usuario activo</ion-label>
    <ion-toggle [(ngModel)]="user.isActive"></ion-toggle>
  </ion-item>

  <ion-button expand="block" (click)="save()">Guardar</ion-button>
</ion-content>