<app-header title="usuarios"></app-header>
<ion-content class="ion-padding ion-safe-area-top" fullscreen="false" padding>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <ion-card-title>Usuarios de la agencia</ion-card-title>
    <ion-card-subtitle color="dark" class="ion-hide-sm-down">
      <p class="ion-no-margin">Aquí puedes ver y gestionar los usuarios de la agencia.</p>
    </ion-card-subtitle>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-hide-sm-down">
      <ion-col sizeMd="2">
        <ion-button fill="solid" color="primary" (click)="openUserModal(false)">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Agregar usuario
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col sizeMd="7" sizeSm="2">
        </ion-col>
        <ion-col size="2" />
        <ion-col sizeMd="2" sizeSm="7">
          <ion-item>Total: {{count}}</ion-item>
        </ion-col>
      </ion-row>

      <!-- Tabla -->

      <ion-row class="header-row">
        <ion-col><strong>Usuario</strong></ion-col>
        <ion-col class="ion-hide-sm-down"><strong>Contacto</strong></ion-col>
        <ion-col><strong>Rol</strong></ion-col>
        <ion-col class="ion-hide-sm-down"><strong>Estado</strong></ion-col>
        <ion-col class="ion-hide-sm-down"><strong>Fecha de registro</strong></ion-col>
        <ion-col><strong>Acciones</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let user of profiles" class="data-row">
        <ion-col>{{ user.fullName }}</ion-col>
        <ion-col class="ion-hide-sm-down">{{ user.email || 'Sin correo' }}</ion-col>
        <ion-col>{{ user.role }}</ion-col>
        <ion-col class="ion-hide-sm-down">{{ user.isActive ? 'Activo' : 'Inactivo' }}</ion-col>
        <ion-col class="ion-hide-sm-down">{{ user.createdAt | date: 'shortDate' }}</ion-col>
        <ion-col>
          <ion-button (click)="openUserModal(true,user)">
            <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
          </ion-button>
          <ion-button (click)="openInfoModal(user)">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="prevPage()" [disabled]="page === 1">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        Página {{ page }} de {{totalPages}}
        <ion-button (click)="nextPage()" [disabled]="isLastPage">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-hide-md-up">
      <ion-col>
        <ion-button fill="solid" expand="block" color="primary" (click)="openUserModal(false)">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Agregar usuario
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>