<ion-header>
  <ion-toolbar>
    <ion-title>Información de proveedor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment>
    <ion-segment-button value="basic" content-id="basic-content">
      <ion-label>Datos básicos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contacts" content-id="provider-contact">
      <ion-label>Contactos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hotel" content-id="hotel-content">
      <ion-label>Hotel</ion-label>
    </ion-segment-button>
    <ion-segment-button value="transfer" content-id="transfer-content">
      <ion-label>Traslado</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="basic-content">
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-label>{{provider.bussinesName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-label>{{ provider.isActive ? 'Activo' : 'Inactivo' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Creado el</ion-label>
        <ion-label>{{ provider.createdAt | date: 'shortDate' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ultima actualización</ion-label>
        <ion-label>{{ provider.updatedAt | date: 'shortDate' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Notas</ion-label>
        <ion-label>{{provider.notes}}</ion-label>
      </ion-item>
    </ion-segment-content>
    <ion-segment-content id="provider-contact">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pepito - Contador</ion-card-title>
          <ion-card-subtitle>Bogotá</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Telefono</ion-label>
            <ion-label>4000303020</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-label>test@gmail.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dirección de contacto</ion-label>
            <ion-label>No aplica</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Sede principal - Operaciones</ion-card-title>
          <ion-card-subtitle>Medellín</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Telefono</ion-label>
            <ion-label>20303020</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-label>operaciones@gmail.com</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dirección de contacto</ion-label>
            <ion-label>Cll 106 #20 -34 sur</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-segment-content>
    <ion-segment-content id="hotel-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Habitaciones</ion-card-title>
          <ion-card-subtitle>Tipos de habitaciones asignadas</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Sencillas</ion-label>
            <ion-label>400</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dobles</ion-label>
            <ion-label>140</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Twin</ion-label>
            <ion-label>400</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Planes de alimentación</ion-card-title>
          <ion-card-subtitle>Planes de alimentación</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Media pensión</ion-label>
            <ion-label>Desayuno</ion-label>
            <ion-label>Cena</ion-label>
          </ion-item>
          
          <ion-item>
            <ion-label>Media pensión</ion-label>
            <ion-label>Almuerzo</ion-label>
            <ion-label>Cena</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pensión completa</ion-label>
            <ion-label>Desayuno</ion-label>
            <ion-label>Almuerzo</ion-label>
            <ion-label>Cena</ion-label>
            <ion-label>Sin bebidas</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      
    </ion-segment-content>

    <ion-segment-content id="transfer-content">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Vehiculos</ion-card-title>
          <ion-card-subtitle>Tipos de vehiculos registrados</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Van</ion-label>
            <ion-label>Capacidad 10</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Busetón</ion-label>
            <ion-label>40</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Busetón</ion-label>
            <ion-label>34 (sin incluir equipaje)</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>